/* line 260, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.2/";
}

/* line 264, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 269, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 274, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 279, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 284, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 289, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 296, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 299, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 305, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 14px;
}

/* line 309, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: #fafafa;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 322, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 325, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 327, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 331, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 338, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 339, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 340, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 116, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 117, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 341, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 347, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 350, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 360, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 363, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 137, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 138, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 139, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 140, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* Typography resets */
/* line 175, ../bower_components/foundation/scss/foundation/components/_type.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
/* line 199, ../bower_components/foundation/scss/foundation/components/_type.scss */
a {
  color: #df4727;
  text-decoration: none;
  line-height: inherit;
}
/* line 204, ../bower_components/foundation/scss/foundation/components/_type.scss */
a:hover, a:focus {
  color: #c43a1d;
}
/* line 207, ../bower_components/foundation/scss/foundation/components/_type.scss */
a img {
  border: none;
}

/* Default paragraph styles */
/* line 211, ../bower_components/foundation/scss/foundation/components/_type.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.42857rem;
  text-rendering: optimizeLegibility;
}
/* line 219, ../bower_components/foundation/scss/foundation/components/_type.scss */
p.lead {
  font-size: 1.25rem;
  line-height: 1.6;
}
/* line 221, ../bower_components/foundation/scss/foundation/components/_type.scss */
p aside {
  font-size: 1rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 229, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-enzo-web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
/* line 239, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

/* line 246, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 {
  font-size: 2rem;
}

/* line 247, ../bower_components/foundation/scss/foundation/components/_type.scss */
h2 {
  font-size: 1.92857rem;
}

/* line 248, ../bower_components/foundation/scss/foundation/components/_type.scss */
h3 {
  font-size: 1.57143rem;
}

/* line 249, ../bower_components/foundation/scss/foundation/components/_type.scss */
h4 {
  font-size: 1.28571rem;
}

/* line 250, ../bower_components/foundation/scss/foundation/components/_type.scss */
h5 {
  font-size: 1rem;
}

/* line 251, ../bower_components/foundation/scss/foundation/components/_type.scss */
h6 {
  font-size: 1rem;
}

/* line 253, ../bower_components/foundation/scss/foundation/components/_type.scss */
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

/* line 255, ../bower_components/foundation/scss/foundation/components/_type.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.42857rem 0 1.35714rem;
  height: 0;
}

/* Helpful Typography Defaults */
/* line 264, ../bower_components/foundation/scss/foundation/components/_type.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 270, ../bower_components/foundation/scss/foundation/components/_type.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 276, ../bower_components/foundation/scss/foundation/components/_type.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 281, ../bower_components/foundation/scss/foundation/components/_type.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}

/* Lists */
/* line 288, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.42857rem;
  list-style-position: outside;
  font-family: inherit;
}

/* line 298, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul {
  margin-left: 1.1rem;
}
/* line 300, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  margin-left: 0;
}
/* line 303, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.42857rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
/* line 316, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul li ul,
ul li ol {
  margin-left: 1.42857rem;
  margin-bottom: 0;
}
/* line 325, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
/* line 328, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
/* line 329, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
/* line 330, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
/* line 331, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 335, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol {
  margin-left: 1.4rem;
}
/* line 338, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol li ul,
ol li ol {
  margin-left: 1.42857rem;
  margin-bottom: 0;
}

/* Definition Lists */
/* line 348, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
/* line 352, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dd {
  margin-bottom: 0.85714rem;
}

/* Abbreviations */
/* line 356, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 364, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr {
  text-transform: none;
}

/* Blockquotes */
/* line 369, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote {
  margin: 0 0 1.42857rem;
  padding: 0.64286rem 1.42857rem 0 1.35714rem;
  border-left: 1px solid #dddddd;
}
/* line 374, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite {
  display: block;
  font-size: 0.92857rem;
  color: #555555;
}
/* line 378, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 382, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

/* line 388, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
/* line 395, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard {
  display: inline-block;
  margin: 0 0 1.42857rem 0;
  border: 1px solid #dddddd;
  padding: 0.71429rem 0.85714rem;
}
/* line 401, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard li {
  margin: 0;
  display: block;
}
/* line 405, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard .fn {
  font-weight: bold;
  font-size: 1.07143rem;
}

/* line 412, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent .summary {
  font-weight: bold;
}
/* line 414, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.07143rem;
}

@media only screen and (min-width: 40.063em) {
  /* line 425, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  /* line 426, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1 {
    font-size: 2.71429rem;
  }

  /* line 427, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2 {
    font-size: 2.64286rem;
  }

  /* line 428, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h3 {
    font-size: 1.92857rem;
  }

  /* line 429, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h4 {
    font-size: 1.64286rem;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 440, ../bower_components/foundation/scss/foundation/components/_type.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 442, ../bower_components/foundation/scss/foundation/components/_type.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 449, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 451, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 453, ../bower_components/foundation/scss/foundation/components/_type.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 456, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 460, ../bower_components/foundation/scss/foundation/components/_type.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 466, ../bower_components/foundation/scss/foundation/components/_type.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 468, ../bower_components/foundation/scss/foundation/components/_type.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 471, ../bower_components/foundation/scss/foundation/components/_type.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 475, ../bower_components/foundation/scss/foundation/components/_type.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 482, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 485, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 486, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .print-only {
    display: block !important;
  }

  /* line 487, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .hide-for-print {
    display: none !important;
  }

  /* line 488, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .show-for-print {
    display: inherit !important;
  }
}
/* line 42, ../scss/app.scss */
h1, h5 {
  color: #75859E;
}

/* line 45, ../scss/app.scss */
h5 {
  text-transform: uppercase;
}

/* line 1, ../scss/components/_main-content.scss */
.main-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 71.42857rem;
  *zoom: 1;
}
/* line 116, ../bower_components/foundation/scss/foundation/components/_global.scss */
.main-content:before, .main-content:after {
  content: " ";
  display: table;
}
/* line 117, ../bower_components/foundation/scss/foundation/components/_global.scss */
.main-content:after {
  clear: both;
}

/* line 2, ../scss/components/_main-content.scss */
.content-container {
  padding-left: 1.07143rem;
  padding-right: 1.07143rem;
  width: 100%;
  float: left;
}
@media only screen and (min-width: 40.063em) {
  /* line 2, ../scss/components/_main-content.scss */
  .content-container {
    padding-left: 1.07143rem;
    padding-right: 1.07143rem;
    width: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

/* line 1, ../scss/components/_img.scss */
.avatar {
  border-radius: 100%;
  padding: 4px;
  background: #fff;
  border: 1px solid #b8361b;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  max-width: 120px;
  display: block;
  margin: 12px auto;
}

/* line 11, ../scss/components/_img.scss */
.avatar-wrap {
  padding: 24px;
  background: #df4727;
  max-height: 100px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 42px;
}

/* line 1, ../scss/components/_centered-lists.scss */
ul {
  margin: 0 auto 1.21429rem auto;
  margin-left: -1.57143rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin-left: 0;
  margin: 0 auto;
  display: table !important;
  text-align: center !important;
}
/* line 41, ../bower_components/foundation/scss/foundation/components/_inline-lists.scss */
ul > li {
  list-style: none;
  float: left;
  margin-left: 1.57143rem;
  display: block;
}
/* line 46, ../bower_components/foundation/scss/foundation/components/_inline-lists.scss */
ul > li > * {
  display: block;
}
/* line 7, ../scss/components/_centered-lists.scss */
ul li {
  display: inline-block;
  float: none;
  margin-right: 1em;
  margin-bottom: 10px;
}

/* line 1, ../scss/components/_about-me.scss */
.about-me {
  border: 1px solid #dadada;
  border-radius: 3px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: #fff;
}
@media only screen and (min-width: 40.063em) {
  /* line 1, ../scss/components/_about-me.scss */
  .about-me {
    margin-top: 40px;
  }
}

/* line 13, ../scss/components/_about-me.scss */
.about-me-info {
  padding: 24px;
}
/* line 15, ../scss/components/_about-me.scss */
.about-me-info p {
  font-size: 1.28571rem;
  color: #686868;
}
