ul {
  @include inline-list;
  margin-left: 0;
  margin: 0 auto;
  display: table;
  text-align: center;
  li {
    display: inline-block;
    float: none;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    margin-bottom: 10px;
  }
}
@media #{$medium-up} {
  ul li {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}