h5 {
  text-transform: uppercase;
  // font-weight: 600;
  letter-spacing: .1em;
}
.img-src {
  margin: 12px 0;
  text-align: center;
  p {
    color: #666;
    font-size: rem-calc(12);
  }
}
a {
  -webkit-transition: color 200ms; /* For Safari 3.1 to 6.0 */
  transition: color 200ms;
}
hr {
  border-color: lighten(#75859E, 40%);
  margin: 36px 0;
  &:after {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    top: -21px;
    margin: 0 auto;
    background: image-url("rocket.png");
    background-size: cover;
    content: "";
  }
}